<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>Categories Table</h6>
        </div>

        <div class="card-body pt-0 pb-0">
          <button type="button" class="btn btn-outline-info pt-2 pb-2 me-2" onclick="location.href='/admin/categories/add'">
            <i class="fa fa-plus-square-o me-1" aria-hidden="true"></i> Add New
          </button>
          <button type="button" class="btn btn-outline-danger pt-2 pb-2 deleteGr">
            <i class="fa fa-trash-o me-1" aria-hidden="true"></i> Delete Selected
          </button>
          <form id="searchForm" class="display-inline">
            <button type="submit" class="btn btn-outline-dark pt-2 pb-2 display-inline floatRight ml-2">
              <i class="fas fa-search" aria-hidden="true"></i>
            </button>
            <input type="text" class="form-control form-control-new col-md-3 floatRight" id="searchName" placeholder="Categorie name..." value="<%=name%>" />

            <span id="usernameMemErrorText" class="spanError"></span>
          </form>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive px-2">
            <table class="table align-items-center mb-0 mt-0" id="cateTable">
              <thead>
                <tr>
                  <th class="text-center table-w-10 text-center text-secondary text-sm">
                    Choose
                  </th>
                  <th class="text-center table-w-10 text-center text-secondary text-sm">
                    Ordinal
                  </th>
                  <th class="text-center table-w-300 text-secondary text-sx">
                    Name
                  </th>
                  <th class="text-center table-w-200 text-secondary text-sm">
                    Created date
                  </th>
                  <th class="text-center table-w-10 text-secondary text-sm ">
                    Edit
                  </th>
                  <th class="text-center table-w-10 text-secondary text-sm ">
                    Delete
                  </th>
                </tr>
              </thead>
              <tbody>
                <% for(var i=0; i < data.length; i++) { %>
                <tr>
                  <td class="align-middle text-center">
                    <input type="checkbox" class="radio-cate" />
                  </td>
                  <td class="align-middle text-center">
                    <p class="text-center text-xs font-weight-bold mb-0">
                      <%= i+1 %>
                    </p>
                  </td>

                  <td class="align-middle text-center">
                    <span class="text-sm font-weight-bold">
                      <%=data[i].name%>
                    </span>
                  </td>

                  <td class="align-middle text-center hiden">
                    <p class="text-center text-xs font-weight-bold mb-0">
                      <%=data[i]._id%>
                    </p>
                  </td>


                  <td class="align-middle text-center">
                    <p class="text-center text-xs font-weight-bold mb-0 dateOfC">
                      <%=dateOfC[i]%>
                    </p>
                  </td>

                  <td class="align-middle text-center">
                    <button type="button" class="btn btn-outline-successBeauty mb-0 mt-0 pt-2 pb-2 pl-3 pr-3" onclick="location.href='/admin/categories/edit/<%=data[i]._id%>'">
                      <i class="fa fa-pencil-square-o"></i>
                    </button>
                  </td>

                  <td class="align-middle text-center">
                    <button type="button" class="btn btn-outline-successBeauty mb-0 mt-0 pt-2 pb-2 pl-3 pr-3 delete" onclick="GetIdToDelete('<%=data[i]._id%>')" data-toggle="modal" data-target="#exampleModalCenter3">
                      <i class="fa fa-trash-o"></i>
                    </button>
                  </td>
                </tr>
                <%}%>
              </tbody>
            </table>

            <div class="container mt-3">
              <ul class="pagination justify-content-center">
              <% if(sumPage > 1) { %>
                <% if(flag==0) { %>
                <li class="page-item">
                  <%if(pageNumber !== 1) {%>
                  <a class="page-link buttonNoAfter" href="/admin/categories/index/<%= pageNumber-1 %>"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                </li>
                <% } %>
                <% for(var i=1; i <=sumPage; i++) { %> <% if(pageNumber==i) { %>
                <li class="page-item">
                  <a class="page-link active active2 buttonNoAfter" href="/admin/categories/index/<%= i %>">
                    <%= i %>
                  </a>
                </li>
                <% } %> <% if(pageNumber !=i){ %>
                <li class="page-item">
                  <a class="page-link buttonNoAfter" href="/admin/categories/index/<%= i %>">
                    <%= i %>
                  </a>
                </li>
                <% } %> <% } %>
                <li class="page-item">
                  <% if(sumPage > 0 && +sumPage !== +pageNumber) {%>
                  <a class="page-link buttonNoAfter" href="/admin/categories/index/<%= +pageNumber + 1 %>"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                  <% } %>
                </li>
                <% } else {%>
                <li class="page-item">
                  <a class="page-link buttonNoAfter" href="/admin/categories/search/<%=name%>/<%= pageNumber-1 %>"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                </li>
                <% for(var i=1; i <=sumPage; i++) { %> <% if(pageNumber==i) { %>
                <li class="page-item">
                  <a class="page-link active active2 buttonNoAfter" href="/admin/categories/search/<%=name%>/<%= i %>">
                    <%= i %>
                  </a>
                </li>
                <% } %> <% if(pageNumber !=i){ %>
                <li class="page-item">
                  <a class="page-link buttonNoAfter" href="/admin/categories/search/<%=name%>/<%= i %>">
                    <%= i %>
                  </a>
                </li>
                <% } %> <% } %>
                <li class="page-item">
                  <a class="page-link buttonNoAfter" href="/admin/categories/search/<%=name%>/<%= pageNumber + 1 %>"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                </li>
                <% } %>
                <% } %>
                </ul>
                <ul class="pagination justify-content-end" style="margin: 20px 0">
                  <button type="button" class="btn btn-outline-info btn-refresh" onclick="location.href='/admin/categories/index'">
                    <i class="fas fa-sync mr-1"></i>
                    Refresh
                  </button>
                </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div id="idDelete"></div>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content border-none">
      <div class="modal-header alert-info mt-0 mb-0 noti">
        <h5 class="modal-title text-white" id="exampleModalLongTitle">
          <i class="fa fa-flag" aria-hidden="true"></i> Notification
        </h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-black">
        Are you sure you want to delete them?
      </div>
      <div id="delete" class="hiden"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark mb-0 mt-0" data-dismiss="modal">
          No
        </button>
        <button type="button" class="btn btn-outline-danger mb-0 mt-0" onclick="deleteCate()">
          Yes
        </button>
      </div>
    </div>
  </div>
</div>

<button type="button" id="popupDeleteGrNoData" class="btn btn-outline-danger pt-2 pb-2 hiden" data-toggle="modal" data-target="#exampleModalCenter4"></button>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content border-none">
      <div class="modal-header alert-info mt-0 mb-0 noti">
        <h5 class="modal-title text-white" id="exampleModalLongTitle">
          <i class="fa fa-flag" aria-hidden="true"></i> Notification
        </h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-black" id="msg">
        Please tick the data you want to delete
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark mb-0 mt-0" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<button type="button" id="popupDeleteGr" class="btn btn-outline-danger pt-2 pb-2 hiden" data-toggle="modal" data-target="#exampleModalCenter"></button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content border-none">
      <div class="modal-header alert-info mt-0 mb-0 noti">
        <h5 class="modal-title text-white" id="exampleModalLongTitle">
          <i class="fa fa-flag" aria-hidden="true"></i> Notification
        </h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-black" id="msgDelete">
        Are you sure you want to delete them?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark mb-0 mt-0" data-dismiss="modal">
          No
        </button>
        <button type="button" class="btn btn-outline-danger mb-0 mt-0" id="buttonDeleteGr">
          Yes
        </button>
      </div>
    </div>
  </div>
</div>
<%-include('script')%>