<!DOCTYPE html>
<html lang="vi">

<head>
  <%-include('partials/head')%>
</head>

<body class="g-sidenav-show  bg-gray-100">
  <div class="d-lg-none hiden" id="index"><%=index%></div>

  <%-include('partials/header')%>
  <%-include('partials/mainNav')%>

  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg" id="main">
    <%-include('partials/otherNav')%>
    <%-include(main)%>

    <%-include('partials/right')%>

  </main>
  <%-include('partials/footer')%>

  <%-include('partials/script')%>

</body>

</html>