<!DOCTYPE html>
<html lang="vi">

<head>
  <%-include('partials/head.partial.ejs')%>
</head>

<body class="g-sidenav-show  bg-gray-100">
  <div class="d-lg-none hiden" id="index"><%=index%></div>

  <%-include('partials/nav.partial.ejs')%>

  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg" id="main">
    <%-include('partials/other.partial.ejs')%>
    <%-include(main)%>


  </main>
  <%-include('partials/script')%>

</body>

</html>