<div class="container-fluid py-4">
  <div class="row">

    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <form id="formProfileUpdate">
            <div class="alert-warning text-white text-min text-space-xl hiden" id="noteMember"></div>
            <div class="row">
              <input type="text" class="form-control form-control-new hiden" id="idUser" value="<%=data._id%>" disabled="disabled">
              <div class="form-group col-md-6">

                <label class="form-label display-inline" for="usernameMem">User Name <span id="usernameMemError" class="spanError"></span></label>
                <input type="text" class="form-control form-control-new" id="usernameMem" value="<%=data.username%>" disabled="disabled">
                <span id="usernameMemErrorText" class="spanError"></span>
              </div>

              <div class="form-group col-md-6">

                <label class="form-label display-inline" for="passwordMem">Password <span id="passwordMemError" class="spanError"></span></label>
                <input type="password" class="form-control form-control-new" id="passwordMem" placeholder="Ex: 123456" autocomplete="new-password" value=<%=data.password%> disabled="disabled" />
                <span id="passwordMemErrorText" class="spanError"></span>
              </div>
              <div class="form-group col-md-6">

                <label class="form-label display-inline" for="nameMem">Full Name <span id="nameMemError" class="spanError"></span></label>
                <input type="text" class="form-control form-control-new" id="nameMem" placeholder="Ex: Nguyen Van A" value="<%=data.name%>">
                <span id="nameMemErrorText" class="spanError"></span>
              </div>

              <div class="form-group col-md-6">

                <label class="form-label display-inline" for="phoneMem">Phone Number <span id="phoneMemError" class="spanError"></span></label>
                <input type="text" class="form-control form-control-new" id="phoneMem" placeholder="Ex: 0987771234" value=<%=data.phone%>>
                <span id="phoneMemErrorText" class="spanError"></span>
              </div>
              <div class="form-group col-md-6">
                <label class="form-label display-inline" for="emailMem">Email <span id="emailMemError" class="spanError"></span></label>
                <input type="text" class="form-control form-control-new" id="emailMem" placeholder="Ex: abc@gmail.com" value=<%=data.email%>>
                <span id="emailMemErrorText" class="spanError">
              </div>

              <div class="form-group col-md-6">

                <label class="form-label display-inline" for="addressMem">Address <span id="addressMemError" class="spanError"></span></label>
                <input type="text" class="form-control form-control-new" id="addressMem" placeholder="Ex: 10 Pham Van Dong" value="<%=data.address%>">
                <span id="addressMemErrorText" class="spanError">
              </div>


              <div class="form-group col-md-6">
                <label class="form-label">Province/ City</label>
                <select class="form-select cityEdit" name="calc_shipping_provinces" required="">
                  <% if (data.city) { %>
                  <option value="<%=data.city%>" hidden> <%=data.city%> </option>
                  <% } else {%>
                  <option value="" disabled selected hidden> Province/ City </option>
                  <% } %>
                </select>

              </div>
              <div class="form-group col-md-6">
                <label class="form-label">District</label>
                <select class="form-select district" name="calc_shipping_district" required="">
                  <option value="<%=data.district%>" disabled selected hidden> <%=data.district%> </option>
                </select>
              </div>

              <div class="form-group col-md-6">
                <label class="form-label" for="sexMem">Sex</label>
                <select id="sexMem" class="form-select">
                  <option value=<%=data.sex%> hidden> <%=data.sex%></option>
                  <option value="Male">Male</option>
                  <option value="FeMale">FeMale</option>

                </select>
              </div>
              <div class="form-group col-md-6">
                <label class="form-label" for="birthdayMem">Date of birth</label>
                <input type="date" class="form-control form-control-new" id="birthdayMem" value=<%=data.birthday%>>
                <span id="usernameError" class="spanError"></span>
              </div>

              <div class="form-group col-md-6">
                <label class="form-label display-inline" for="role">Role</label>
                <select id="role" class="form-select">
                  <option value=<%=data.role%> hidden> <%=data.role%></option>
                  <option value="user">user</option>
                  <option value="admin">admin</option>

                </select>
              </div>

              <div class="form-group col-md-12">
                <label class="form-label" for="story">Infomation Other</label>
                <textarea class="form-control" id="story" cols="30" rows="10" name="contentStory"></textarea>
              </div>
            </div>

            <div id="storyid" class="hiden"><%=data.story%> </div>
            <span class="d-flex justify-content-between">
              <button type="submit" class="btn bg-gradient-info"> Save </button>
              <button type="button" class="btn btn-outline-info btn-refresh" onclick="window.location.reload()">
                <i class="fas fa-sync mr-1"></i>
                Refresh
              </button>
            </span>
          </form>

          <button type="button" id="clickMe" class="hiden">click</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content border-none">
      <div class="modal-header alert-info mt-0 mb-0 noti">
        <h5 class="modal-title text-white" id="exampleModalLongTitle"><i class="fa fa-flag" aria-hidden="true"></i> Notification</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-black" id="msg">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark mb-0 mt-0" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<button type="button" class="btn btn-outline-info pt-2 pb-2 hiden" id="popupInfo" data-toggle="modal" data-target="#exampleModalCenter">popup</button>
<%-include('script')%>